@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<a href="https://baconsale.com/">
    <img src="~/lib/img/2.jpg" height="200" />
    <p>Joel is a podcaster: Baconsale</p>
</a>
<a href="https://www.qwcomedy.com/">
    <p>And a comedian: Quick Wits Comedy</p>
</a>
<p>This guy does everything!</p>
