@model Movie

@{
    ViewData["Title"] = "Submit a Movie";
}

<h1>@ViewData["Title"]</h1>
<h2>to the Joel Hilton Film Collection</h2>
<br />
<br />
<form method="post">
    <label asp-for="Title">Title:</label>
    <br />
    <input asp-for="Title" required />
    <br />
    <br />
    <label asp-for="Category">Category:</label>
    <br />
    <input asp-for="Category" required />
    <br />
    <br />
    <label asp-for="Year">Year:</label>
    <br />
    <input asp-for="Year" required />
    <br />
    <br />
    <label asp-for="Director">Director:</label>
    <br />
    <input asp-for="Director" required />
    <br />
    <br />
    <label asp-for="Rating">Rating:</label>
    <br />
    <select asp-for="Rating" required>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG-13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <br />
    <label asp-for="Edited">Edited?</label>
    <br />
    <label for="editedYes">Yes</label><input type="radio" id="editedYes" asp-for="Edited" value="true" />
    <br />
    <label for="editedNo">No</label><input type="radio" id="editedNo" asp-for="Edited" value="false" />
    <br />
    <br />
    <label asp-for="LentTo">Lent To:</label>
    <br />
    <input asp-for="LentTo" />
    <br />
    <br />
    <label asp-for="Notes">Notes (limit 25 characters):</label>
    <br />
    <input asp-for="Notes" />
    <button type="submit">Submit Movie</button>


</form>